<div class="container">
  <h2>My Information</h2>
  <div ng-if="!myInfoCtrl.isSignedup()">
    Not Signed Up Yet. <a ui-sref="public.signUp">Sign up Now!</a>
  </div>
  <form ng-if="myInfoCtrl.isSignedup()" name="MyInfoForm" class="sign_up_form" novalidate>
    <label class="sign_up_label">First Name</label>
    <span>{{myInfoCtrl.myInfo.firstname}}</span>
    </br>
    <label class="sign_up_label">Last Name</label>
    <span>{{myInfoCtrl.myInfo.lastname}}</span>
    </br>
    <label class="sign_up_label">Email</label>
    <span>{{myInfoCtrl.myInfo.email}}</span>
    </br>
    <label class="sign_up_label">Phone No.</label>
    <span>{{myInfoCtrl.myInfo.phone}}</span>
    </br>
    <label class="sign_up_label">Menu Code</label>
    <span>{{myInfoCtrl.myInfo.menucode.short_name}}</span>
	<img class="img-responsive" width="250" height="150" ng-src="{{myInfoCtrl.basePath}}/images/{{myInfoCtrl.myInfo.menucode.short_name}}.jpg" alt="{{myInfoCtrl.myInfo.menucode.name}}">
  </form>
</div>
